/* cover page style */
.cover-text {
  padding: 20px;
  backdrop-filter: blur(50px);
  border-radius: 10px;
}

.letsgo {
  width: 80%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-align-last: center;
    border-radius: 5px;
    font-size: 20px;
}
/* navbar, footer, etc. */
.navbar-custom {
    background-color:   #292d31;
}

.navbar-custom a {
    color:#ffffff!important;
}

.bg-dark a {
    color: #ffffff!important;
}

.row {
  display: flex;
  width: 100%;
  margin: 0px;
}
.col {
  flex: 1;
  padding: 16px;
}

.active {
    font-weight: bold;
}

.nav-link:hover {
    font-weight: bold;
}

#story_change {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}
.footer-custom {
  background-color: black;
  color: white;
}

.credits {
  color: white;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 20px;
}

.credits > p > a{
  color: white!important;
  text-decoration: underline;
}
.col-2 {
    padding-left: 0px !important;
}
/* this is needed to make the popovers visible */
.fade {
  opacity: 1!important;
}

/* timeline styling */
#timelines > ul {
    padding: 0px!important;
    margin: 0px!important;
    background-color: #818181;
}
#timelines > ul > li {
    color: black;
    cursor: pointer;
    list-style: none;
    padding: 10px 10px 10px 20px;
}
#timelines > ul > li:hover {
    background-color: #616060;
}

.mouse-position-box {
    text-align: center;
    border: 1px solid gray;
    border-radius: 20%;
    background-color: lightgray;
}

  .coord-box {
        background-color: rgb(233, 236, 239);
        border: 1px solid rgb(206, 212, 218);
        border-radius: 4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: unset;
        max-width: 15%;
  }

  .col-coord-box {
        max-width: 10%;
        padding: 0;
  }

  .form-coord-box {
	text-align: center;
	border-top-right-radius: unset;
	border-bottom-right-radius: unset;
	border-right: unset;
}

/* popups styling */
.ol-popup {
  max-width:300px;
  min-width:100px;
  min-height:1em;
}
/* Image on popup */
.ol-popup img {
  float: left;
  margin: 0 0.5em 0 0;
  max-width: 100px;
  max-height: 100px;
}
/* no image content tooltips */
.ol-popup.tooltips img {
  display:none;
}
/* Custom red style (tips) */
.ol-popup.red > div {
  background-color: red;
}
.ol-popup.red .anchor {
  color: red;
}

/* Custom orange style (tips) */
.ol-popup.tips.orange > div {
  border-color:#da7;
  background-color:#eca;
}
.ol-popup.tips.orange .anchor {
  color: #da7;
}

/* orange style (default) */
.ol-popup.default.orange > div {
  border:4px solid #f96;
}
.ol-popup.default.orange .anchor {
  margin: -10px 22px;
}
.ol-popup.default.orange .anchor::after {
  margin: 5px -11px;
}
.ol-popup-middle.default.orange .anchor::after {
  margin: -10.5px -27px /*border:4 +2 px */;
}
.ol-popup.default.orange .anchor {
  color: #f96;
}
.ol-popup.default.orange .closeBox {
  background-color: rgba(255, 153, 102, 0.7);
}
.ol-popup.default.orange .closeBox:hover {
  background-color: rgba(255, 153, 102, 1);
}

/* storymap styling */
.ol-zoom {
  left: auto;
  right: .5em;
}
/* fix unselectable last storymap item */
.ol-storymap {
  margin-bottom: 100px;
}

#story img {
display: block;
margin: auto;
max-width: 100%;
}
#story .chapter.ol-select {
background-color: rgba(255,255,255,.8);
}
.options a {
cursor: pointer;
}

.img-caption {
  font-style: italic;
}

/* timeline styling */
.ol-feature {
  padding: 0!important;
}

.ol-timeline .ol-scroll {
  height: 13em!important;
}
/* TODO not used? */
/* Dropdown Button */
.dropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

/* make modal background transparent */
.modal-backdrop {
  background-color: rgba(0,0,0,.0001) !important;
}

.popover {
z-index: 999!important;
width: 200px;
}

.popover-content{
font-size: 1rem;
padding: 10px;
}