.navbar-custom {
    background-color:   #292d31;
}

.navbar-custom a {
    color:#818181!important;
}

.bg-dark a {
    color: #646464!important;
}

/* TODO check if this interferes with sidebar collapse behaviour */
/* TODO make sidebar responsive */
#sidebar-wrapper {
    min-width: 250px;
}

.collapse-custom {
    padding: 10px 10px 10px 20px;
    background-color: #818181;
}

#timelines > ul {
    padding: 0px!important;
    margin: 0px!important;
    background-color: #818181;
}
#timelines > ul > li {
    color: black;
    cursor: pointer;
    list-style: none;
    padding: 10px 10px 10px 20px;
}
#timelines > ul > li:hover {
    background-color: #616060;
}
.list-group-item {
    font-weight: bold;
    padding: 10px;
}


.btn-toggle-dark-true {
    background-color: #00000080!important;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white!important
}
#controls-wrapper {
    padding: 10px;
}

.mouse-position-box {
    text-align: center;
    border: 1px solid gray;
    border-radius: 20%;
    background-color: lightgray;
}

.row {
    display: flex;
    width: 100%;
    margin: 0px;
  }
  .col {
    flex: 1;
    padding: 16px;
  }

  .active {
      font-weight: bold;
  }

  .nav-link:hover {
      font-weight: bold;
  }

  .footer-custom {
    background-color: black;
    color: white;
  }

  .col-2 {
      padding-left: 0px !important;
  }

  .coord-box {
        background-color: rgb(233, 236, 239);
        border: 1px solid rgb(206, 212, 218);
        border-radius: 4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: unset;
        max-width: 15%;
  }

  .col-coord-box {
        max-width: 10%;
        padding: 0;
  }

  .form-coord-box {
	text-align: center;
	border-top-right-radius: unset;
	border-bottom-right-radius: unset;
	border-right: unset;
}